{{- if eq .Status "resolved" -}}
*** Alert Cleared ***
{{- range .Alerts }}
Summary: {{ .Annotations.summary }}
AlertName: {{ .Labels.alertname }}
StartTime: {{ .StartsAt | date_modify "+0h" | date "2006-01-02 15:04:05 -07" }}
EndTime: {{ .EndsAt | date_modify "+0h" | date "2006-01-02 15:04:05 -07" }}
--
{{- end }}
{{- else -}}
*** Alert Firing ***
{{- range .Alerts }}
{{- if eq .Status "firing" }}
Summary: {{ .Annotations.summary }}
NotifType: {{ .Labels.severity | title}}
AlertName: {{ .Labels.alertname }}
Description: {{ .Annotations.description }}
StartTime: {{ .StartsAt | date_modify "+0h" | date "2006-01-02 15:04:05 -07" }}
{{ end }}
{{- end -}}
{{- end -}}
{{- /* case 2 */}}
{{- if eq .Status "firing" -}}
{{- range .Alerts -}}
{{- if eq .Status "resolved" }}
--
*** Alert Cleared ***
Summary: {{ .Annotations.summary }}
AlertName: {{ .Labels.alertname }}
StartTime: {{ .StartsAt | date_modify "+0h" | date "2006-01-02 15:04:05 -07" }}
EndTime: {{ .EndsAt | date_modify "+0h" | date "2006-01-02 15:04:05 -07" }}
{{- end }}
{{- end -}}
{{- end -}}